



<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <!-- Banner -->
    <a href="#" class="navbar-brand">FreshyCart</a>

    <!-- The navbar toggle icon for small devices-->
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar_menu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- This div collapse the navbar when its in mobile environment -->
    <div class="collapse navbar-collapse" id="navbar_menu">
        <!-- To display nav links on the right -->
    <!-- <ul class="navbar-nav mr-auto"> -->
    <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a routerLink="/viewProducts" href="#" class="nav-link">All Products</a>
            </li>
            <li class="nav-item">
                    <a href="#" class="nav-link">My Products</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" (click)="logoutCustomer()">Logout</a>
            </li>
            
        </ul>
    </div>

    <!-- To display nav links on the right -->
    <!-- <ul class="navbar-nav mr-auto"> -->
    <!-- To display nav links on the left -->
    <!-- <ul class="navbar-nav ml-auto"> -->

    <!-- <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a href="#" class="nav-link">Users</a>
        </li>
        <li class="nav-item">
                <a href="#" class="nav-link">Users</a>
        </li>
        <li class="nav-item">
                <a href="#" class="nav-link">Users</a>
        </li>    
        <li class="nav-item">
                <a href="#" class="nav-link">Users</a>
        </li>
    </ul> -->

</nav>
<!-- <div class="container-fluid bg"></div> -->
